<form [formGroup]="form"  (ngSubmit)="logIn($event)">

    <mat-card>
        <mat-card-header>
            <mat-card-title>
                LogIn
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="row">
                <div class="col-xs">
                    <mat-form-field>
                        <input placeholder="email" matInput formControlName="email" type="text">
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col-xs">
                    <mat-form-field>
                        <input placeholder="password" matInput formControlName="password" type="text">
                    </mat-form-field>
                </div>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <button [disabled]="form.invalid" mat-raised-button type="submit">Login</button>
        </mat-card-actions>
    </mat-card>

</form>
